@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  /* form control */
  .btn {
    @apply cursor-pointer text-center py-2 px-4 font-semibold 
    rounded-lg shadow-md focus:outline-none focus:ring-2 
    focus:ring-opacity-75;
  }

  .btn:disabled {
    @apply cursor-not-allowed bg-gray-500 hover:bg-gray-500;
  }

  .primary {
    @apply bg-blue-500 text-white
    hover:bg-blue-700
    focus:ring-blue-400
    
    active:bg-blue-800
    active:shadow-lg active:text-white;
  }
  .warning {
    @apply bg-yellow-500 text-white
    hover:bg-yellow-700
    focus:ring-yellow-400;
  }
  .danger {
    @apply bg-red-500 text-white
    hover:bg-red-700
    focus:ring-red-400;
  }

  .input {
    @apply focus:ring-2 focus:ring-blue-500 focus:outline-none 
    appearance-none w-full text-sm leading-6 text-slate-900
     placeholder-slate-400 rounded-md py-2 pl-2 ring-1 
     ring-slate-200 shadow-sm;
  }
  /* end form control */

  .navbar {
    @apply bg-gradient-to-r from-slate-900 to-slate-800 
    text-white shadow-md flex justify-center;
  }

  /* .navbar .nav-item {
    @apply px-4 py-2 hover:text-red-600;
  } */
  .navbar .nav-item {
    @apply hover:text-red-600;
  }

  /* badge */
  .badge{
    @apply inline-block rounded-full px-3 py-1 text-sm font-semibold text-gray-700
  }

  .badge-primary{
    @apply bg-blue-200 text-blue-700;
  }

  .badge-warning{
    @apply bg-yellow-200 text-yellow-700;
  }

  .badge-danger{
    @apply bg-red-200 text-red-700;
  }

  .badge-success{
    @apply bg-green-200 text-green-700;
  }

  .badge-info{
    @apply bg-indigo-200 text-indigo-700;
  }

  .badge-light{
    @apply bg-gray-200 text-gray-700;
  }

  .badge-dark{
    @apply bg-gray-800 text-gray-200;
  }

  .badge-secondary{
    @apply bg-gray-500 text-gray-200;
  }

  .badge-outline{
    @apply bg-transparent border border-gray-300 text-gray-700;
  }

  .badge-outline-primary{
    @apply bg-transparent border border-blue-300 text-blue-700;
  }
}

.container {
  padding: 0 1rem;
}

.link {
  @apply text-blue-500 hover:text-red-600;
}

.table {
  @apply w-full text-left border-collapse;
}

.table th {
  @apply py-2 px-4 bg-gray-100 text-gray-600 font-bold uppercase text-sm;
}

.table td {
  @apply py-2 px-4 border-b border-gray-100 text-sm;
}

.table tr {
  @apply hover:bg-gray-100;
}

.table tr:nth-child(even) {
  @apply bg-gray-50;
}

.table tr:last-child {
  @apply border-b-0;
}

.table caption {
  @apply text-gray-500 text-xs italic;
}

.table thead tr {
  @apply border-b border-gray-200;
}

.table thead tr th {
  @apply font-semibold text-gray-600;
}

.table tbody tr td {
  @apply text-gray-600;
}

.table tbody tr:nth-child(even) {
  @apply bg-gray-50;
}

.table tbody tr:last-child {
  @apply border-b-0;
}

.title {
  @apply text-2xl font-bold text-gray-700;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar .nav-item {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 120px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content .dropdown-item {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content .dropdown-item:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
