@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  /* form control */
  .btn {
    @apply cursor-pointer text-center py-2 px-4 font-semibold 
    rounded-lg shadow-md focus:outline-none focus:ring-2 
    focus:ring-opacity-75;
  }

  .btn:disabled {
    @apply cursor-not-allowed bg-gray-500 hover:bg-gray-500;
  }

  .primary {
    @apply bg-blue-500 text-white
    hover:bg-blue-700
    focus:ring-blue-400
    
    active:bg-blue-800
    active:shadow-lg active:text-white;
  }
  .warning {
    @apply bg-yellow-500 text-white
    hover:bg-yellow-700
    focus:ring-yellow-400;
  }
  .danger {
    @apply bg-red-500 text-white
    hover:bg-red-700
    focus:ring-red-400;
  }

  .input {
    @apply focus:ring-2 focus:ring-blue-500 focus:outline-none 
    appearance-none w-full text-sm leading-6 text-slate-900
     placeholder-slate-400 rounded-md py-2 pl-2 ring-1 
     ring-slate-200 shadow-sm;
  }
  /* end form control */

  .navbar {
    @apply bg-gradient-to-r from-slate-900 to-slate-800 
    text-white shadow-md flex justify-center;
  }

  .navbar .nav-item {
    @apply px-4 py-2 hover:text-red-600;
  }
}

.container {
  padding: 0 1rem;
}

.link {
  @apply text-blue-500 hover:text-red-600;
}

.table {
  @apply w-full text-left border-collapse;
}

.table th {
  @apply py-2 px-4 bg-gray-100 text-gray-600 font-bold uppercase text-sm;
}

.table td {
  @apply py-2 px-4 border-b border-gray-100 text-sm;
}

.table tr {
  @apply hover:bg-gray-100;
}

.table tr:nth-child(even) {
  @apply bg-gray-50;
}

.table tr:last-child {
  @apply border-b-0;
}

.table caption {
  @apply text-gray-500 text-xs italic;
}

.table thead tr {
  @apply border-b border-gray-200;
}

.table thead tr th {
  @apply font-semibold text-gray-600;
}

.table tbody tr td {
  @apply text-gray-600;
}

.table tbody tr:nth-child(even) {
  @apply bg-gray-50;
}

.table tbody tr:last-child {
  @apply border-b-0;
}

.title {
  @apply text-2xl font-bold text-gray-700;
}

/*container = flex min-h-screen flex-col items-center justify-between p-24 */
